__pycache__
.venv
.vscode
.git

client_media
worker_media
worker_logs

examples
!examples/pulse_count_driver/main.py
!examples/pulse_count_driver/precompiled_circuits

src/usbipice/worker/firmware/**/build
!src/usbipice/worker/firmware/**/build/*.uf2
src/usbipice/worker/firmware/pico-ice-sdk
src/usbipice/worker/firmware/pico-sdk

examples/pulse_count_usbip/build

src/usbipice/worker/deploy.py

usbipice.egg-info
dist