__pycache__
.venv
.vscode
.git
.pytest_cache

client_media
worker_media
worker_logs

examples
!examples/pulse_count_driver/main.py
!examples/pulse_count_driver/precompiled_circuits

src/icefarm/worker/firmware/**/build
!src/icefarm/worker/firmware/**/build/*.uf2
src/icefarm/worker/firmware/pico-ice-sdk
src/icefarm/worker/firmware/pico-sdk

examples/pulse_count_usbip/build

src/icefarm/worker/deploy.py

icefarm.egg-info
dist